
  body {
    background-color: #f8f9fa;
  }
  
  .calendar-frame {
    border: 2px solid hwb(0 61% 39% / 0.297);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
  }
  
  header {
    background-color: #82a1c0;
    color: white;
    text-align: center;
    border-bottom: 2px solid #212529;
  }
  
  header h1 {
    margin-bottom: 0;
  }
  
  .time-block {
    border: 1px solid #82a1c0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #588685;
  } 
  
 .time-block .hour {
    font-weight: bold;
    padding-top: 10px;
  } 
  
  .time-block .description textarea {
    min-height: 70px;
  }
  
  .time-block .saveBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .clearBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  
  /* Define custom pastel colors */
  .btn-pastel-info {
      background-color: #b0e0e6; /* Powder Blue */
      border-color: #b0e0e6; /* Powder Blue */
      color: #000; /* Black */
    }

    .btn-pastel-success {
      background-color: #66907a; /* Pale Green */
      border-color: #66907a; /* Pale Green */
      color: #000; /* Black */
    }

    .btn-pastel-primary {
      background-color: #ffb6c1; /* Light Pink */
      border-color: #ffb6c1; /* Light Pink */
      color: #000; /* Black */
    }

    /* Override Bootstrap's button styles with custom pastel colors */
    .btn-info {
      background-color: #b0e0e6;
      border-color: #b0e0e6;
    }

    .btn-success {
      background-color: #66907a;
      border-color: #66907a;
    }

    .btn-primary {
      background-color: #ffb6c1;
      border-color: #ffb6c1;
    }

    .btn-secondary {
      background-color: rgb(71, 126, 141);
      border-color: #82a1c0;
    }
    
    .btn-danger {
      background-color: #98757a; /* Light Pink */
      border-color: #a6a0a1; /* Light Pink */
    }

  .past { 
    background-color: hsla(330, 19%, 53%, 0.515); 
  }
  
  .present { 
    background-color: hsl(173, 44%, 66%); 
  }
  
  .future { 
    background-color: hsl(193, 36%, 46%); 
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
